<!-- Listing search result -->
<!-- Notes:
    List of all listings that match the search query
    Each listing should have a link to view it
    Each listing should have a link to bookmark it
    Filter settings should be displayed
        by default, all listings should be shown
        by default, within 6km of the user's location, expand until min 3 listings shown
        options: ratings, price, distance
    Sort settings should be displayed
        by Best Match (default), listings shown in distance order
            (could) if the user is logged in, show their nearby (3km) bookmarks at the top
        by Ratings, listings shown in descending order of average ratings
-->

<%- include('../partials/header') %>
<%- include('../partials/nav') %>

<div class="wrapper listings">
    <section class="listings-search align-items-center">
        <h4 class="me-3">Search results for...</h4>
        <form action="/listings" method="GET">
            <div class="input-group searchbar">
                <input type="text" name="search" class="form-control" style="min-width: 200px;" value="<%= searchQuery %>">
                <button type="submit" class="btn btn-secondary"><i class="bi bi-search"></i></button>
            </div>
        </form>
        <button class="btn btn-secondary font-btn ms-3"><i class="bi bi-geo-alt-fill"></i> Use my location</button>
    </section>
    <section class="filter"></section>
    <section class="listings">
        <form class="mt-4" action="/listings" method="GET">
            <div class="input-group align-items-center">
                <input type="hidden" name="search" value="<%= searchQuery %>">
                <label for="sort-by">SORT &nbsp;</label>
                <select name="sort-by" id="sort-by" class="sort">
                    <option <%= sortBy === 'best-match' ? 'selected' : '' %> value="best-match">Best Match</option>
                    <option <%= sortBy === 'ratings' ? 'selected' : '' %> value="ratings">Avg. Rating</option>
                    <option <%= sortBy === 'distance' ? 'selected' : '' %> value="distance">Distance</option>
                </select>
                <button type="submit" class="btn btn-secondary font-btn ms-2 py-0">Apply</button>
            </div>
        </form>
        <div class="listings-results mt-3 overflow-auto">
            <% listings.forEach(function (listing){ %>
                <a href="/listings/<%= listing.id %>" class="link-underline link-underline-opacity-0 text-decoration-none text-black">
                    <article class="listing search">
                        <div class="listing-left">
                            <p>
                                <%= listing.distance %> km
                            </p>
                            <p>
                                <% for (let i = 0; i < Math.floor(listing.stars); i++) { %>
                                    <i class="bi bi-star-fill"></i>
                                <% } %>
                                <% if (listing.stars % 1 >= 0.5 && listing.stars % 1 <= 0.9) { %>
                                <i class="bi bi-star-half"></i>
                                <% } %>
                                <% for (let i = 0; i < 5 - Math.ceil(listing.stars); i++) { %>
                                <i class="bi bi-star"></i>
                                <% } %>
                                <%= listing.rating  %> (<%= listing.numReviews  %>)
                            </p>
                        </div>
                        <div class="listing-middle">
                            <h3><%= listing.title %></h3>
                            <p><%= listing.subtitle %></p>
                            <p>Products: X, Y, X</p>
                        </div>
                        <div class="listing-right">
                            <i class="bi bi-arrow-right-square-fill"></i>
                        </div>
                    </article>
                </a>
            <% }) %>
        </div>
    </section>
</div>

<%- include('../partials/footer') %>